{{ title }}
<h1>
  <button type="button" (click)="logout()">Sair</button>
</h1>
<h1>
  <button type="button" (click)="loadUserInfo()">User Info</button>
</h1>
<h1>
  <button type="button" (click)="getServiceRest()">Rest Consult1</button>
</h1>
<h1>
  <button type="button" (click)="getServiceRestPublic()">Rest Consult2</button>
</h1>
<h1>
  <button type="button" (click)="getToken()">Token</button>
</h1>

<h1>

  <input [(ngModel)]="role"> <button type="button" (click)="getHasResourceRole()">Has Role</button>
  <h2>{{role}}</h2>
</h1>